.DS_Store
.kitchen/
.kitchen.local.yml
.bundle
.vagrant
berks-cookbooks/
Berksfile.lock
cookbooks/
Gemfile.lock
vms/
nodes/
.chef/local-mode-cache/
.project


corista.key
corista.key.pub


# temp
openstack-cookbooks/
